@font-face {
    font-family: Merriweather;
    src: url('Merriweather,Roboto/Merriweather/Merriweather-Regular.ttf');
}

/* TAGS */
:root {
    --primary-dark-background: #070B1B;
    --primary-grey: #ACB0BF;
    --primary-gold: #E08A27;
    --primary-white: #FFFFFF;
}


body {
    font-family: 'Merriweather', sans-serif;
    background-color: var(--primary-dark-background);
}

li::marker {
    content: '▸ ';
}

/* Colors */
.font-gold {
    color: var(--primary-gold);
}

.font-white {
    color: var(--primary-white);
}

/* Font Sizes */
.font-60 {
    font-size: 60px;
}

/* Custom classes */

.text-uppercase {
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-self-center {
    justify-self: center;
}

.max-w-800 {
    max-width: 800px;
}


.gap-10px {
    gap: 15px;
}

.w-100 {
    width: 100%;
}

/* Media */
@media (min-width:780px) {}



/* OLD STYLES */

#mobbutton {
    display: none;
}

@media(max-width:500px) {
    #mobbutton {
        display: block;
    }

    #submit {
        display: none;
    }
}

body {
    background: #303445;
    color: white;
}

div#translator {
    margin: inherit;

}

textarea#input {
    max-width: inherit;
    max-height: 250px;
    resize: none;
    right: 10px;
    left: 15px;
    height: 50vh;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    /*font-style: inherit;*/
    color: inherit;
    border-radius: 10px;
}

textarea#output {
    max-width: inherit;
    max-height: 250px;
    resize: none;
    right: 10px;
    left: 10px;
    height: 50vh;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    /*font-style: inherit;*/
    color: inherit;
    border-radius: 10px;
}

div#button_block {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: inherit;
    color: inherit;
    margin-top: 10px;
}

@media (max-width:500px) {
    div#mobbutton {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 1em;
    }
}

button#latukr {
    margin-bottom: 15px;
}